* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Orange: hsl(25, 97%, 53%);

  /* Neutral */
  --White: hsl(0, 100%, 100%);
  --Grey-1: hsl(217, 12%, 63%);
  --Grey-2: hsl(213, 19%, 16%);
  --Grey-3: hsl(216, 12%, 8%);

  --accent: hsl(213, 19%, 22%);
}

body {
  background-color: var(--Grey-3);
  color: var(--White);
  font-family: "Overpass", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 88%;
  max-width: 400px;
  background-color: var(--Grey-2);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 0.9375rem;
}

.star-icon {
  padding: 14px;
  background-color: var(--accent);
  border-radius: 50%;
}

.body-text {
  color: var(--Grey-1);
  line-height: 1.5;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.rate {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  color: var(--Grey-1);
  font-weight: 700;
  cursor: pointer;
}

.error-msg {
  text-align: center;
  margin-block-start: 0.8rem;
  color: var(--Orange);
}

.rate:not(.bg-selected):hover {
  background-color: var(--Orange);
  color: var(--Grey-2);
}

.bg-normal {
  background-color: var(--accent);
}

.bg-selected {
  background-color: var(--White);
  color: var(--Grey-2);
}

.submit-btn {
  background-color: var(--Orange);
  border: none;
  height: 3rem;
  border-radius: 2rem;
  color: var(--Grey-2);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
  margin-block-start: 1.2rem;
}

.submit-btn:hover {
  background-color: var(--White);
}

.highlight {
  color: var(--Orange);
  padding: 0.4rem 0.8rem 0.3rem;
  border-radius: 1rem;
  background-color: var(--accent);
}

.text {
  color: var(--Grey-1);
  text-align: center;
  padding: 0.5rem;
}
